body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(to right, #f0f0f0, #d9e6f2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    width: 90%;
    max-width: 900px;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-section, .output-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label, select, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
}

textarea, select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border 0.3s, box-shadow 0.3s;
}

textarea:focus, select:focus {
    border-color: #3498db;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.output-section {
    text-align: left;
    overflow-y: auto;
    max-height: 90vh; /* Allow vertical scroll if content is long */
    white-space: pre-wrap; /* Prevent overflow due to long lines */
}


input {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border 0.3s, box-shadow 0.3s;
    width: 90%; /* Makes the input take full width */
    height: 20px; /* Adjust the height as needed */
}

input:focus {
    border-color: #3498db;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#output ul {
    padding: 0;
    list-style: none;
}

#output ul li {
    margin: 8px 0;
}
